
*.xcscmblueprint

.DS_Store

*.xcuserstate

ESRootModel.xcodeproj/project.xcworkspace/xcuserdata/eShow.xcuserdatad/UserInterfaceState.xcuserstate

ESRootModel.xcodeproj/xcuserdata/eShow.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ESRootModel.xcodeproj/xcuserdata/eShow.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
